.card {
    height: 100%;
    width: 100%;

    background: white;
    border-radius: 32px;

    color: black;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.card img {
    width: 100%;
}

.card .card-text {
    padding: 32px;
}

.card h1 {
    font-size: 32pt;
    margin: 0 0 16px;
}

.card p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;

    font-size: 17px;
    font-style: italic;
}

.card a {
    color: rgba(0, 0, 200, 0);
}

.card.small {
    border-radius: 8px;
}

.card.small .card-text {
    padding: 8px;
}

.card.border {
    border: 1px solid #ccc;
}

@media (max-width: 412px) {
    .card {
        border-radius: 24px;
    }

    .card .card-text {
        padding: 24px;
    }
}

@media (max-width: 360px) {

    .card .card-text {
        padding: 16px;
    }
}
