#contact-page {
    background-image: url('../images/contact.jpg');
}

#contact {
    position: relative;
    height: 100%;
    width: 100%;

    color: white;

    padding: 10vh 200px 10vh 0;
}

#contact .contact-content {
    max-width: 720px;
    margin: 0 auto;
}

#contact .text {
    position: absolute;
    height: 70vh;
    width: 80vw;
    top: 10vh;
    left: 200px;
}

#contact h3, p {
    font-weight: 500;
}

@media (max-width: 768px) {
    #contact {
        padding: 16vh 48px 8vh 0;
    }
}
