#first-page {
    padding: 0;
    background: url("../images/first.JPG");
}

#first {
    width: 100%;

    text-align: center;

    padding: 20vh 24vw 10vh;
}

#first img {
    display: block;
    width: 60%;
    margin: 0 auto 15px;
}

#first h1 {
    font-size: 36pt;
}

#first p {
    font-size: 14pt;

    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;

    line-height: 150%;
}

#first a {
    font-family: 'IBM Plex Sans', sans-serif;

    font-style: italic;
    color: white;
}

@media (max-width: 1300px) {
    #first .first-content img {
        width: 30%;
    }

    #first h1 {
        font-size: 24pt;
    }

    #first p {
        font-size: 12pt;
    }
}

@media (max-width: 768px) {
    #first {
        padding: 20vh 48px 0 !important;
    }
}
