#landing-page {
    background-image: url('../images/background.jpg');
}

#landing {
    width: 100%;
    padding: 180px 240px 180px 48px;
}

#landing h1 {
    margin: 0;
    font-size: 6em;
    font-weight: bold;
}

#landing h3 {
    margin: 0;
    font-size: 60px;
}

#landing p {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: italic;
    font-size: 24px;
}

#landing a {
    color: white;
}

.landing-links {
    display: block;
}

@media (min-width: 1520px) {
    .landing-links {
        display: inline-block;
    }

    .landing-links:last-child {
        margin-left: 16px;
    }
}

@media (max-width: 768px) {
    #landing {
        padding-right: 48px;
    }

    #landing h1 {
        font-size: 14vw;
    }

    #landing h3 {
        font-size: 8vw;
    }

    .landing-links {
        display: inline-block;
        margin-top: 0;
    }

    #landing-team-link {
        margin-left: 16px;
        margin-top: 0;
        display: inline;
    }

    #landing-team-link {
        margin-left: 0 !important;
        margin-top: 18px;
        display: block;
    }
}