.black-swipe {
    position: absolute;
    height: 0;
    width: 100%;
    background-color: #ffffff;

    z-index: 11;

    animation-name: swipe-downwards;
    animation-duration: 800ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

.content {
    position: absolute;
    height: 100%;
    z-index: 11;
    width: 100%;

    color: white;
    background: #000000;
}

.content::after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    opacity: 0.3;
    background: #000000 url('../images/background.jpg') no-repeat center center fixed;
    content: "";
}

.content-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 70vh;
    width: 70vw;
}

.content-image {
    width: 500px;
    flex-shrink: 1;
    justify-self: flex-start;
    margin-right: 16px;
}

.content-text {
    flex: 1;
}

.content h1 {
    margin: 0;
    font-size: 100px;
}

.content h3 {
    margin: 0;
    font-size: 60px;
}

.content p {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: italic;
    font-size: 24px;
}

.content a {
    color: white;
}

.landing-links {
    display: block;
}

@media (min-width: 1520px) {
    .landing-links {
        display: inline-block;
    }

    .landing-links:last-child {
        margin-left: 16px;
    }
}

@media (max-width: 820px) {
    .content h1 {
        font-size: 12vw;
    }

    .content h3 {
        font-size: 8vw;
    }

    .content-image {
        width: 50vw;
    }

    .content-wrapper {
        top: -8vh;
        flex-direction: column;
    }

    .content p, .content a {
        font-size: 18px;
    }

    #landing-team-link {
        margin-left: 0 !important;
        margin-top: 18px;
        display: block;
    }
}

@media (max-width: 820px) and (max-height: 420px) {
    .content-image {
        display: none;
    }

    .content h1 {
        font-size: 12vh;
    }

    .content h3 {
        font-size: 8vh;
    }

    .landing-links {
        display: inline-block;
        margin-top: 0;
    }

    #landing-team-link {
        margin-left: 16px;
        margin-top: 0;
        display: inline;
    }
}