#media-page {
    background-image: url('../images/media.png');
}

#media {
    width: 100%;
    padding: 180px 48px;
}

#media .card {
    overflow: hidden;
}

@media only screen and (min-width: 992px) {
    #media {
        width: calc(100% - 200px);
        padding-top: 180px;
        padding-left: 160px;
    }
}