#meet-page {
    background-image: url('../images/meet.jpg')
}

#meet {
    position: relative;
    max-width: 1280px;
    width: 100%;

    padding: 15vh 64px 5vw 0;
    float: right;
}

#meet h3, p {
    font-weight: 500;
    font-style: italic;
}

#meet h3 {
    font-size: 2em;
}

#meet p {
    font-size: 1em;
}

@media (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1280px) {
    #meet h3 {
        font-size: 2.5vw;
    }

    #meet p {
        font-size: 1.5vw;
    }
}