#sponsors-page {
    padding: 0;
    background: url("../images/sponsors.jpg");
}

#sponsors {
    position: relative;

    height: 100%;
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;

    text-align: center;

    padding: 48px 128px
}

#sponsors .row {
    padding: 48px 0;
}

#sponsors img {
    max-height: 384px;
}

.sponsors-images .card {
    max-height: 0;
    opacity: 0;

    transition: 800ms all;

    overflow: hidden;
}

.sponsors-images.expand .card {
    max-height: 130vh;
    opacity: 1;
}

@media (max-width: 768px) {
    #sponsors {
        padding: 48px 15vw;
    }

    #sponsors {
        padding: 48px;
    }

    #sponsors .row {
        padding: 0;
    }

    #sponsors .col-xs-12 {
        margin: 16px;
    }
}