#sponsors-page {
    background: url("../images/sponsors.jpg");
}

#sponsors {
    position: relative;

    height: 100%;
    width: 100%;
    max-width: 1280px;

    margin: 0 auto;

    text-align: center;

    padding: 48px 128px
}

#sponsors .row {
    padding: 48px 0;
}

@media (max-width: 1300px) {
    #sponsors .sponsors-content img {
        width: 30%;
    }

    #sponsors h3 {
        font-size: 24pt;
    }

    #sponsors p {
        font-size: 12pt;
    }
}