#team {
    position: relative;
    height: 100%;
    width: 100%;

    color: white;
}

#team .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#team .background .img {
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background-image: url('../images/team.jpg');
    background-size: cover;
}

#team .background .gradient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;

    background-image: linear-gradient(to left, rgba(0,0,0, 0), rgba(0,0,0, 1));
}

#team .text {
    position: absolute;
    height: 70vh;
    width: 80vw;
    top: 10vh;
    left: 200px;
}

#team h1 {
    font-size: 36pt;
}

#team h3, p {
    font-weight: 500;
    font-style: italic;
}

#team .cards {
    display: flex;
}

#team .text > p {
    font-family: "IBM Plex Sans", sans-serif;
    font-style: italic;
    margin-bottom: 15px;
}

@media (max-width: 1600px) {
    #team .cards {
        flex-direction: column;
        height: 100%;
    }

    #team .card {
        height: 30%;
        width: 60%;
        overflow: hidden;
        margin-bottom: 30px;
    }
}

@media (max-width: 800px) {
    #team h1 {
        font-size: 24pt;
    }

    #team p {
        font-size: 12pt;
    }

    #team .card {
        width: 100%;
    }

    #team .card h1 {
        font-size: 16pt;
    }

    #team .card-text {
        padding: 16px;
    }

    #team .card-text > p {
        display: none;
    }

    #team .card-text > .card-hover-text {
        display: block;
        font-size: 10pt;
        opacity: 1;
    }

    #team .text {
        top: 15px;
        height: 80vh;
        left: 48px;
    }
}

/* visible */

/*#team.visible .background {*/
    /*opacity: 1;*/
    /*transform: translateX(0);*/
/*}*/