#team-page {
    background-image: url('../images/team.jpg');
}

#team h3, p {
    font-weight: 500;
}

#team .team-cards {
    align-items: stretch;
}

@media (max-width: 768px) {
    #team {
        padding: 16vh 48px 8vh 0;
    }

    #team .col-xs-12 {
        margin-bottom: 32px;
    }
}
